<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Lab2</display-name>
	<description>SER422 Lab2</description>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>mzomorod.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>mzomorod.Welcome</servlet-class>
		<init-param>
			<param-name>userlist</param-name>
			<param-value>/resources/lab2.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>mzomorod.Controller</servlet-class>
		<init-param>
			<param-name>userlist</param-name>
			<param-value>/resources/lab2.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Page2View</servlet-name>
		<servlet-class>mzomorod.Page2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page3View</servlet-name>
		<servlet-class>mzomorod.Page3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page4View</servlet-name>
		<servlet-class>mzomorod.Page4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page5View</servlet-name>
		<servlet-class>mzomorod.Page5</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page6View</servlet-name>
		<servlet-class>mzomorod.Page6</servlet-class>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Page2View</servlet-name>
		<url-pattern>/Page2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Page3View</servlet-name>
		<url-pattern>/Page3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Page4View</servlet-name>
		<url-pattern>/Page4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Page5View</servlet-name>
		<url-pattern>/Page5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Page6View</servlet-name>
		<url-pattern>/Page6</url-pattern>
	</servlet-mapping>
	
</web-app>
