<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>SER422 Lab2</display-name>
	<description>Lab2 Assignment</description>
	
	<servlet>
		<servlet-name>Page0</servlet-name>
		<servlet-class>mzomorod.Page0</servlet-class>
		<init-param>
			<param-name>userlist</param-name>
			<param-value>/resources/lab2data.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Page1</servlet-name>
		<servlet-class>mzomorod.Page1</servlet-class>
		<init-param>
			<param-name>userlist</param-name>
			<param-value>/resources/lab2data.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>mzomorod.Controller</ervlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>mzomorod.UserController</ervlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Page0</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Page1</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/usercontroller</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
